DATABASE_URL=postgres://postgres:postgres@localhost:5432/medication_app
JWT_SECRET=replace-with-a-secure-secret
PORT=3000
GOOGLE_CLIENT_ID=760699279835-498l5tmgrfp6t5nsqfgalv095n99ode1.apps.googleusercontent.com
